<template>
  <form @submit.prevent="submitForm">

    <!-- user input -->
    <input type="text" v-model="user" placeholder="user">

    <!-- tags input -->
    <input type="text" v-model="tags" placeholder="tags">

    <!-- href input -->
    <input type="href" v-model="href" placeholder="href">

    <!-- submit button -->
    <button type="submit">Submit</button>

  </form>
</template>

<script>
export default {
  data() {
    return {
      user: '',
      tags: '',
      href: '',
    }
  },
  methods: {
    // submit the form to our backend api
    async submitForm() {
      const res = await fetch('https://advv6ap2d4.execute-api.us-east-1.amazonaws.com/prod/bookmarks', {
        method: 'POST',
        mode: 'cors',
        headers: { 'Content-Type': 'application/json' },

        // pass in the information from our form
        body: JSON.stringify({
          user: this.user,
          tags: this.tags.split(','),
          href: this.href,
        }) 
      });
    } 
  }
}
</script>